header {
    border-bottom: 1px solid black;
}

.accessibility {
    display: flex;
    border: 1px solid black;
    width: max-content;
}

.accessibility button, select {
    margin: 1em;
    padding: 1em
}

.accessibility button {
    padding: 1em;
}