header {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px 0px 10px 0px black;
}

h1 {
    padding: 0.25em;
    color: lightgray;
    font-size: 2.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.accessibility {
    display: flex;
    width: max-content;
}

.accessibility button,
select {
    margin: 1em;
    padding: 1em
}

.accessibility button {
    padding: 1em;
}

.social-links {
    display: flex;
    align-items: center;
    margin: 0.5em;
    gap: 1em;
}

.social-links svg:hover {
    padding: 0 0.5em;
    box-shadow: inset 0px 0px 10px 0px black;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s;
}

.social-links a {
    transition: 0.2s;
    color: black;
}

.email:hover {
    cursor: pointer;
}